﻿@model SistemaNotificaciones.ViewModel.EnviarNotificacion
@{
    ViewBag.Title = "EnviarNotificacion";
    Layout = "~/Views/Layout.cshtml";
}

<h1 class="titleSection">Envío de notificiación</h1>

@using (Html.BeginForm("EnviarNotificacion", "Contrato", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(x => x.IdContrato)
        @Html.HiddenFor(x => x.Token)
        <div class="form-group">
            @Html.LabelFor(model => model.NombrePropietario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NombrePropietario, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroPropiedad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.NumeroPropiedad, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mensaje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Mensaje, 15,70, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "FechaFin" } })
                @Html.ValidationMessageFor(model => model.Mensaje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileAttached, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.FileAttached)
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FileAttached, new { type = "file"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Cancelar", "Index", "Tablero")
</div>


