﻿@model IEnumerable<SistemaNotificaciones.Models.Contrato>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h1 class="titleSection">Catalago de Contratos</h1> @Html.ActionLink("Nuevo", "Nuevo", "Contrato", new { @class = "btn btn-primary" })
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <th>
                Numero
            </th>
            <th>
                Cliente
            </th>
            <th>
                Fecha Inicio
            </th>
            <th>
                Duracion
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Imagen
            </th>
            <th>
                Tipo Cobro
            </th>
            <th></th>
        <thead>
        </thead>
        <tbody>
            @foreach (var contrato in Model)
            {
                <tr>
                    <td>
                        @contrato.Numero
                    </td>
                    <td>
                        @contrato.Propiedad.Propietario
                    </td>
                    <td>
                        @contrato.FechaIncio
                    </td>
                    <td>
                        @contrato.Servicio.Duracion @contrato.Servicio.Medicion
                    </td>
                    <td>
                        @if(contrato.Observaciones == "")
                        {
                            <span>--</span>
                        }
                        else
                        {
                            @contrato.Observaciones
                        }
                    </td>
                    <td>
                        @if(contrato.RutaArchivos == "" || contrato.RutaArchivos == null)
                        {
                            <span>No hay archivos</span>
                        }
                        else
                        {
                            <a href="@Url.Content(contrato.RutaArchivos)">Ver Imagen</a>
                        }
                        
                    </td>
                    <td>
                        @contrato.Cobranza.Nombre
                    </td>
                   
                    <td>
                        <button type="button" class="btn btn-primary" data-behavior="editar" data-id="@contrato.Id">
                            Editar
                        </button> &nbsp;
                        <button type="button" class="btn btn-danger" data-behavior="eliminar" data-id="@contrato.Id">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aun no hay Contratos agregados.</p>
    @Html.ActionLink("Agregar uno", "Nuevo")
}


<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

@section scripts{
    <script src="~/scripts/validations.js"></script>
    <script type="text/javascript">
        $("button").click(function () {
            var idContrato = $(this).attr('data-id');
            var operacion = $(this).attr('data-behavior');
            var url = root;
            if (operacion == "editar")
                url += "Contrato/Editar";
            else if(operacion == "eliminar")
                url += "Contrato/Eliminar";
            repository.asyncCall(url, "GET", { id: idContrato }, "html").done(function (result) {
                $("#modal-content").empty();
                $("#modal-content").append(result);
                $("#modalDialog").modal();
            });
        });
    </script>
}


