﻿@model SistemaNotificaciones.ViewModel.ContratoVM

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Layout.cshtml";
    var numeroPropiedades = Model.Propiedades.Select(x => x.Numero).ToList();
}

<h1 class="titleSection">Nuevo Contrato</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Numero de Contrato</label>
            @*@Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaIncio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaIncio, new { htmlAttributes = new { @class = "form-control", id = "FechaInicio" } })
                @Html.ValidationMessageFor(model => model.FechaIncio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Servicio</label>
            <div class="col-md-10">
                <input type="hidden" name="servicioId" id="servicioId" value="" />
                <select id="_servicioId" class="form-control">
                    <option selected="selected" data-duracion="0" data-medicion="">Seleccione un Servicio</option>
                    @foreach (var servicio in Model.Servicios)
                    {
                        <option data-duracion="@servicio.Duracion" data-medicion="@servicio.Medicion" value="@servicio.Id">@servicio.Nombre</option>
                    }
                </select>
                @*@Html.DropDownListFor(model => model.servicioId, new SelectList(Model.Servicios, "Id", "Nombre", Model.Servicios.FirstOrDefault().Id.ToString()), "Seleccione un Servicio", new { @class = "form-control", id = "Servicio" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "FechaFin" } })
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RutaArchivos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RutaArchivos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RutaArchivos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Numero de Propiedad</label>
            <div class="col-md-10">
                @Html.HiddenFor(x => x.NumeroPropiedad, new { id = "hidden"})
                @Html.EditorFor(model => model.NumeroPropiedad, new { htmlAttributes = new { @class = "form-control", id = "propiedades" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Propietario</label>
            <div class="col-md-10">
                <input type="text" value="" id="Propietario" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Manager</label>
            <div class="col-md-10">
                <input type="text" value="" id="Manager" disabled class="form-control" />
            </div>
        </div>

        

        <div class="form-group">
            <label class="control-label col-md-2">Cobranza</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.cobranzaId, new SelectList(Model.Cobranzas, "Id", "Nombre", Model.Cobranzas.FirstOrDefault().Id.ToString()), "Seleccione un tipo de cobranza", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancelar", "Index")
</div>


@section scripts{
    <script>
        $(function () {

            var propiedades = @Html.Raw(Json.Encode(numeroPropiedades));
            $("#propiedades").autocomplete({
                source : propiedades,
                select: function(a, b){
                    repository.asyncCall(root + "Propiedad/ObtenerPripietario", "GET", {numero : b.item.value}, "json").
                    done(function(data){
                        console.log(data.Numero);
                        $("#Propietario").val(data.Propietario);
                        $("#hidden").val(data.Numero);
                        if(data.Manager == null)
                            $("#Manager").val("N/A");
                        else
                            $("#Manager").val(data.Manager[0].Nombre + " " + data.Manager[0].Apellidos);
                    });
                    
                }
            });


            $("#FechaInicio").datepicker({ 
                dateFormat: 'yy-mm-dd',
                onSelect : function(newDate){
                    var fechaFin = $("#FechaFin").val();
                    if( fechaFin != "" || fechaFin != undefined){
                        var servicio = $("#_servicioId").find(":selected").text();
                        if(servicio != "" || servicio != undefined || servicio != null){
                            var incremento = parseInt($("#_servicioId option:selected").attr("data-duracion")); //parseInt(servicio.split(" ")[0]);
                            var fechaMoment = moment($(this).val()).format("YYYY-MM-DD");
                            var medida =  $("#_servicioId option:selected").attr("data-medicion").toLowerCase(); //servicio.split(" ")[1].toLowerCase();
                            aumentarFecha(medida, incremento, fechaMoment);
                        }
                    }
                },
                startDate : moment(new Date()).format("YYYY-MM-DD")
            });

            $("#FechaFin").datepicker({ 
                dateFormat: 'yy-mm-dd',
            }).attr('readonly', true);

            $("#_servicioId").on('change',function(){
                $("#servicioId").val($(this).find(":selected").val());
                var tiempo = $(this).find(":selected").text().split(" ");
                var fechaInicio = $("#FechaInicio").val();
                var fechaMoment = null;
                if(fechaInicio == "" || fechaInicio == undefined){
                    var fechaMoment = moment(new Date()).format("YYYY-MM-DD");
                    $("#FechaInicio").datepicker('setDate', fechaMoment);
                }
                else
                    var fechaMoment = moment(fechaInicio).format("YYYY-MM-DD");
                    
                var incremento = parseInt($(this).find(":selected").attr("data-duracion")); //parseInt(tiempo[0]);
                var medida = $(this).find(":selected").attr("data-medicion").toLowerCase(); //tiempo[1].toLowerCase();
                aumentarFecha(medida, incremento, fechaMoment);
            });

            var aumentarFecha = function(medida, incremento, fechaMoment){
                var fechaFin = null;
                if(medida.startsWith('d'))
                    fechaFin = moment(fechaMoment).add(incremento, 'days').format("YYYY-MM-DD");
                else if(medida.startsWith('s'))
                    fechaFin = moment(fechaMoment).add(incremento, 'weeks').format("YYYY-MM-DD");
                else if(medida.startsWith('m'))
                    fechaFin = moment(fechaMoment).add(incremento, 'months').format("YYYY-MM-DD");
                
                $("#FechaFin").datepicker('setDate', fechaFin);
            }
        });
    </script>
}