﻿@model   SistemaNotificaciones.ViewModel.RenovarVM
@{
    ViewBag.Title = "Renovar";
    Layout = "~/Views/Renovacion.cshtml";
}


@if (ViewBag.respuesta == 1)
{
    <h1>Que bueno que renueva suscripcion con nosotros</h1>

    using (Html.BeginForm())
    {
        @Html.HiddenFor( x => x.Token)
        @Html.HiddenFor(x => x.Contrato)
        <label>Tiempo de Renovacion </label>
        @Html.DropDownListFor(x => x.ServicioId, new SelectList(Model.Servicios, "Id", "Nombre", Model.Servicios.First()), new { @class = ""})

        <input type="submit" id="btnRenovar" value="Renovar" class="btn btn-success" />
    }

     <p id="mensaje"></p>
     <div id="spin"></div>
    
}
else
{
    <h1>:( Estamos realmente tristes por esta noticia, esperemos que regreses pronto.</h1>
}

<script type="text/javascript">
    (function () {
        var opts = {
            lines: 13,
            length: 28,
            width: 14,
            radius: 42,
            scale: 1,
            corners: 1,
            color: '#000',
            opacity: 0.25,
            rotate: 0,
            direction: 1,
            speed: 1,
            trail: 60,
            fps: 20,
            zIndex: 2e9,
            className: 'spinner',
            top: '50%',
            left: '50%',
            shadow: false,
            hwaccel: false,
            position: 'absolute'
        };
        var target = document.getElementById('spin')
        

        $(document).ajaxStart(function () {
            $("#btnRenovar").prop("disabled", true);
            var spinner = new Spinner(opts).spin(target)
            $(target).data('spinner', spinner);
        });

        $(document).ajaxStop(function () {
            $(target).data('spinner').stop();
        });

        $("#btnRenovar").on("click", function (event) {
            event.preventDefault();
            var cotratoValue = $("#Contrato").val();
            $.post(root + "Contrato/Renovar", { contrato: cotratoValue }).done(function (json) {
                if(json != null)
                {
                    $("#btnRenovar").prop("disabled", true);
                    $("#mensaje").append("<strong>Gracias por Renovar su contrato, en breve nos comunicaremos con usted.</strong>")
                }
            });

            
        });
    })();
</script>
