﻿
@model SistemaNotificaciones.Models.Cobranza

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <p>Confirmar eliminacion del elemento <strong>@Model.Nombre</strong></p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" name="eliminar" data-id="@Model.Id">Eliminar</button>
    <button type="button" class="btn btn-default" name="cancelar" data-dismiss="modal">Cancelar</button>
</div>

<script type="text/javascript">
    (function () {
        $("button[name=eliminar]").on('click', function () {
            var idCobranza = $(this).attr('data-id');
            var url = root;
            url += "Cobranza/Eliminar";
            repository.asyncCall(url, "POST", { id: idCobranza }, "html").done(function (result) {
                console.log(result);
                location.reload();
            });
        });
    })();
</script>
