﻿@model SistemaNotificaciones.Models.Propiedad

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Editar</h4>
</div>
<div class="modal-body">
    <form id="editar">
        <div class="form-group">
            <label>Numero</label>
            <input type="text" class="form-control" name="numero" id="numero" value="@Model.Numero" />
        </div>

        <div class="form-group">
            <label>Propietario</label>
            <input type="text" class="form-control" name="propietario" id="propietario" value="@Model.Propietario" />
        </div>

        <div class="form-group">
            <label>Manager</label>
            <select name="manager" id="manager" class="form-control">
                @foreach (var manager in Model.Manager)
                {
                    if (manager.Id == Model.IdManager)
                    {
                        <option value="@manager.Id" selected="selected"> @manager.Nombre @manager.Apellidos </option>
                    }
                    else
                    {
                        <option value="@manager.Id"> @manager.Nombre @manager.Apellidos </option>
                    }

                }
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" id="actualizar" data-id="@Model.Id">Actualizar</button>
    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
</div>

<script type="text/javascript">
    (function () {
        $("#editar").validate({
            rules: {
                numero: "required",
                propietario: "required",
                manager: "required"
            },
            messages: {
                numero: "Este campo es requerido",
                propietario: "Este campo es requerido",
                manager: "Este campo es requerido"
            },
        });

        $("#actualizar").on('click', function () {
            var result = $("#editar").valid(); //true or false
            var propiedad = {
                Id: $(this).attr('data-id'),
                Numero: $("#numero").val(),
                Propietario: $("#propietario").val(),
                IdManager: $("#manager option:selected").val()
            };
            var url = root + "Propiedad/Editar";
            if (result) {
                repository.asyncCall(url, "POST", { propiedad: propiedad }, "json").done(function (result) {
                    location.reload();
                }).error(function () {
                    console.log("error");
                });
            }
        });
    })();



</script>

