﻿@model IEnumerable<SistemaNotificaciones.ViewModel.PropiedadVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h1 class="titleSection">Catalago de Propiedades</h1> @Html.ActionLink("Nuevo", "Nuevo", "Propiedad", new { @class = "btn btn-primary" })
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <th>
                Numero
            </th>
            <th>
                Propietario
            </th>
            <th>
                Manager
            </th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var propiedad in Model)
            {
                <tr>
                    <td>
                        @propiedad.Numero
                    </td>
                    <td>
                        @propiedad.Propietario
                    </td>
                    <td>
                        @propiedad.Manager
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-behavior="editar" data-id="@propiedad.Id">
                            Editar
                        </button> &nbsp;
                        <button type="button" class="btn btn-danger" data-behavior="eliminar" data-id="@propiedad.Id">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aun no hay propiedades agregados.</p>
    @Html.ActionLink("Agregar una", "Nuevo")
}


<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

@section scripts{
    <script src="~/scripts/validations.js"></script>
    <script type="text/javascript">
        $("button").click(function () {
            var idPropiedad = $(this).attr('data-id');
            var operacion = $(this).attr('data-behavior');
            var url = root;
            if (operacion == "editar")
                url += "Propiedad/Editar";
            else if(operacion == "eliminar")
                url += "Propiedad/Eliminar";
            repository.asyncCall(url, "GET", { id: idPropiedad }, "html").done(function (result) {
                $("#modal-content").empty();
                $("#modal-content").append(result);
                $("#modalDialog").modal();
            });
        });
    </script>
}


