﻿.wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar{
    position: fixed;
    display: inline-block;
    top: 0;
    height: 100%;
    min-width: 280px;
    /*width: 18%;*/
    background-color: #F8F8F8;
    border-right: solid 1px gainsboro;
    padding: 0;
}

.sidebar > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.sidebar ul li a{
    display: block;
    color: dodgerblue;
    text-decoration: none;
    padding: 10px 0 16px 0;
    width: 100%;
    left: 0;
    padding-left: 18px;
}

.sidebar ul li a:hover{
    background-color: dodgerblue;
    color: white;
}

.sidebar ul li.header a{
    color: dimgray;
    font-weight: bold;
}

.sidebar ul li.header a:hover{
    background-color: #F8F8F8;
    color: dimgray;
}

.content{
    display: inline-block;
    left: 280px;
    position: absolute;
}

.titleSection{
    border-bottom: solid 1px gainsboro;
    padding-bottom: 15px;
}

.indicators{
    margin-top: 25px;
}

/*indicator green*/
.indicator{
    border: 1px solid #5CB85C;
    border-radius: 5px;
}

.indicator > header{
    background-color: #5CB85C;
    color: white;    
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.indicator > header div.icon{
    display: inline-block;
    margin: 5px;
    width: 40%;
}

.indicator > header div.information{
    text-align: right;
    display: inline-block;
    width: 40%;
}

.indicator > header div.information p.number{
    font-size: 2.7em;
}

.indicator > header div.information p.letter{
    font-size: 1.5em;
}   

.indicator > section.footer{
    font-size: 15px;
    padding: 8px;
    color: #5CB85C;
    background-color: #F8F8F8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Indicator over due*/
.indicator-overdue{
    border: 1px solid #D9534F;
    border-radius: 5px;
}

.indicator-overdue > header{
    background-color: #D9534F;
    color: white;    
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.indicator-overdue > header div.icon{
    display: inline-block;
    margin: 5px;
    width: 40%;
}

.indicator-overdue > header div.information{
    text-align: right;
    display: inline-block;
    width: 40%;
}

.indicator-overdue > header div.information p.number{
    font-size: 2.7em;
}

.indicator-overdue > header div.information p.letter{
    font-size: 1.5em;
}   

.indicator-overdue > section.footer{
    font-size: 15px;
    padding: 8px;
    color: #D9534F;
    background-color: #F8F8F8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Indicator yellow*/
.indicator-nextdue{
    border: 1px solid #F0AD4E;
    border-radius: 5px;
}

.indicator-nextdue > header{
    background-color: #F0AD4E;
    color: white;    
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.indicator-nextdue > header div.icon{
    display: inline-block;
    margin: 5px;
    width: 30%;
}

.indicator-nextdue > header div.information{
    text-align: right;
    display: inline-block;
    width: 50%;
}

.indicator-nextdue > header div.information p.number{
    font-size: 2.7em;
}

.indicator-nextdue > header div.information p.letter{
    font-size: 1.5em;
}   

.indicator-nextdue > section.footer{
    font-size: 15px;
    padding: 8px;
    color: #F0AD4E;
    background-color: #F8F8F8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Tablero*/

.table-users{
    margin-top: 35px;
}

table > tbody > tr.green{
    background-color: rgba(92, 184, 92, 0.79);
}

table > tbody > tr.red{
    background-color: #D9534F;
}

table > tbody > tr.yellow{
     background-color: rgba(240, 173, 78, 0.86);
}

#activos :hover,
#vencidos :hover,
#porVencer :hover{
    cursor: pointer;
}


/* Login page*/

.login{
    background-color: aliceblue;
}