﻿
@model SistemaNotificaciones.Models.Manager

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Editar</h4>
</div>
<div class="modal-body">
    <form id="editar">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="@Model.Nombre" />
        </div>

        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" name="apellidos" id="apellidos" value="@Model.Apellidos" />
        </div>

        <div class="form-group">
            <label>Correo Electronico</label>
            <input type="text" class="form-control" name="email" id="email" value="@Model.Email" />
        </div>
        @*<div class="form-group">
            <label>Es Propietario</label>
            <input type="checkbox" name="propietario" id="propietario" checked="@Model.EsPropietario" />
        </div>*@
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" id="actualizar" data-id="@Model.Id">Actualizar</button>
    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
</div>

<script type="text/javascript">
    (function () {
        $("#editar").validate({
            rules: {
                nombre: "required",
                apellidos: "required",
                email: "required"
            },
            messages: {
                nombre: "Este campo es requerido",
                apellidos: "Este campo es requerido",
                email: "Este campo es requerido"
            },
        });

        $("#actualizar").on('click', function () {
            var result = $("#editar").valid(); //true or false
            var manager = {
                Id : $(this).attr('data-id'),
                Nombre: $("#nombre").val(),
                Apellidos: $("#apellidos").val(),
                Email: $("#email").val()
            };
            var url = root + "Manager/Editar";
            if (result) {
                repository.asyncCall(url, "POST", { manager: manager }, "json").done(function (result) {
                    location.reload();
                }).error(function () {
                    console.log("error");
                });
            }
        });
    })();



</script>
