﻿@model IEnumerable<SistemaNotificaciones.Models.Manager>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h1 class="titleSection">Catalago de Managers</h1> @Html.ActionLink("Nuevo", "Nuevo", "Manager", new { @class = "btn btn-primary" })
@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <th>
                Nombre
            </th>
            <th>
                Correo Electronico
            </th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var manager in Model)
            {
                <tr>
                    <td>
                        @manager.Nombre @manager.Apellidos
                    </td>
                    <td>
                        @manager.Email
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-behavior="editar" data-id="@manager.Id">
                            Editar
                        </button> &nbsp;
                        <button type="button" class="btn btn-danger" data-behavior="eliminar" data-id="@manager.Id">
                            Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aun no hay Managers agregados.</p>
    @Html.ActionLink("Agregar uno", "Nuevo")
}


<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">

        </div>
    </div>
</div>

@section scripts{
    <script src="~/scripts/validations.js"></script>
    <script type="text/javascript">
        $("button").click(function () {
            var idManager = $(this).attr('data-id');
            var operacion = $(this).attr('data-behavior');
            var url = root;
            if (operacion == "editar")
                url += "Manager/Editar";
            else if(operacion == "eliminar")
                url += "Manager/Eliminar";
            repository.asyncCall(url, "GET", { id: idManager }, "html").done(function (result) {
                $("#modal-content").empty();
                $("#modal-content").append(result);
                $("#modalDialog").modal();
            });
        });
    </script>
}


