﻿@model SistemaNotificaciones.ViewModel.TableroVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h1 class="titleSection">Tablero</h1>
<div class="row indicators">

    <div class="col-sm-4">
        <div class="indicator" id="activos">
            <header>
                <div class="icon">
                    <i class="fa fa-braille fa-5x" aria-hidden="true"></i>
                </div>
                <div class="information">
                    <p class="number">@Model.Activos</p>
                    <p class="letter">Activos</p>
                </div>
            </header>
        </div>
    </div>
    <div class="col-sm-4" id="vencidos">
        <div class="indicator-overdue">
            <header>
                <div class="icon">
                    <i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
                </div>
                <div class="information">
                    <p class="number">@Model.Vencidos</p>
                    <p class="letter">Vencidos</p>
                </div>
            </header>
        </div>
    </div>
    <div class="col-sm-4" id="porVencer">
        <div class="indicator-nextdue">
            <header>
                <div class="icon">
                    <i class="fa fa-server fa-5x" aria-hidden="true"></i>
                </div>
                <div class="information">
                    <p class="number">@Model.PorVencer</p>
                    <p class="letter">Por Vencer</p>
                </div>
            </header>
        </div>
    </div>
    
</div>
<div class="checkbox">
    @if (Model.Contratos.Count > 0)
    {
        <label>
            <input type="checkbox" value="Mostrar Todos" id="todos" />Mostrar Todos
        </label>

    }
</div>

<div class="form-inline">
    <label for="inicio">Desde: </label>
    <input type="text" id="inicio" />

    <label for="hasta">Hasta: </label>
    <input type="text" id="hasta" />

    <input type="button" name="buscar" id="filtrar" value="Filtrar" />
</div>

<div class="row table-users">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Contrato</th>
                    <th>Nombre</th>
                    <th>Duracion</th>
                    <th>Fecha Vencimiento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contrato in Model.Contratos)
                {
                    var clase = string.Empty;
                    if (contrato.FechaFin < DateTime.Today)
                    {
                        clase = "red";
                    }
                    else if (contrato.FechaFin.Subtract(DateTime.Today).TotalDays <= 5 && contrato.FechaFin.Subtract(DateTime.Today).TotalDays > 0)
                    {
                        clase = "yellow";
                    }
                    else
                    {
                        clase = "green";
                    }

                    <tr class="@clase">
                        <td>@contrato.Numero</td>
                        <td>@contrato.Propiedad.Propietario</td>
                        <td>@contrato.Servicio.Nombre</td>
                        <td data-date="@string.Format("{0:MM/dd/yyyy}",contrato.FechaFin)" data-cobranza="@contrato.CobranzaId">
                            @string.Format("{0:dddd, MMMM d, yyyy}", contrato.FechaFin)
                            @if ( (clase == "yellow" || clase == "red") && contrato.NotificacionEnviada == false)
                            {
                                <span class="label-primary">
                                    @Html.ActionLink("Notificar", "EnviarNotificacion", "Contrato", new { token = contrato.Token, idContrato = contrato.Id}, null)
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
<script>
    (function () {
        var orderByDates = function (ini, fin) {
            $("table tbody tr").each(function (index, item) {
                 
                var fecha = $(this).find("td:last").attr("data-date");
                if (ini != undefined && moment.isDate(ini) && fin != undefined && moment.isDate(fin))
                {
                    if (moment(fecha).isBetween(ini, fin)) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                }
                
            });
        }

        var getDate = function (element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

        var dateFormat = "mm/dd/yy";
        var fechaInicio;
        var fechaFin;
        var desde = $("#inicio").datepicker({
            defaultDate: "+1w",
            changeMonth: false,
            numberOfMonths: 2
        })
        .on("change", function () {
            hasta.datepicker("option", "minDate", getDate(this));
            fechaInicio = getDate(this);
            console.log(fechaInicio);
        }),

        hasta = $("#hasta").datepicker({
            defaultDate: "+1w",
            changeMonth: false,
            numberOfMonths: 2
        })
        .on("change", function () {
            desde.datepicker("option", "maxDate", getDate(this));
            fechaFin = getDate(this);
            console.log(fechaFin);
        });

        $("#filtrar").on("click", function () {
            orderByDates(fechaInicio, fechaFin);
        });

        $("#todos").on("click", function () {
            $(".table tbody tr").each(function (index, item) {
                $(this).show();
            });
        });

        $("#activos").on("click", function () {
            $("#todos").prop("checked", false);
            $(".table tbody tr").each(function (index, item) {
                if ($(this).attr("class") == "green")
                    $(this).show();
                else
                    $(this).hide();
            });
        });

        $("#vencidos").on("click", function () {
            $("#todos").prop("checked", false);
            $(".table tbody tr").each(function (index, item) {
                if ($(this).attr("class") == "red")
                    $(this).show();
                else
                    $(this).hide();
            });
        });

        $("#porVencer").on("click", function () {
            $("#todos").prop("checked", false);
            $(".table tbody tr").each(function (index, item) {
                if ($(this).attr("class") == "yellow")
                    $(this).show();
                else
                    $(this).hide();
            });
        });
    })();
</script>
}


