﻿@model   SistemaNotificaciones.Models.UsuarioSistema
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Eliminar</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h3>Confirmar que deseas Eliminar al usuario @Model.Email</h3>
    @Html.HiddenFor(x => x.Id);

    <input type="submit" value="Confirmar" class="btn btn-danger" />
}

@Html.ActionLink("Cancelar", "Index", new { @class = "btn btn-default"})