﻿@model IEnumerable<SistemaNotificaciones.Models.UsuarioSistema>
@using Microsoft.AspNet.Identity;
@using SistemaNotificaciones.Controllers;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Usuarios</h2>

@Html.ActionLink("Agregar usuario", "Nuevo", "Security")

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<ul>
    @{var security = new SecurityController(); }
    @foreach (var user in Model)
    {
        var role = security.userManager.GetRoles(user.Id).First();
        <li>@user.Email (@role) | @Html.ActionLink("Eliminar", "Eliminar", new { id = @user.Id})</li>
    }
</ul>


