﻿@model SistemaNotificaciones.ViewModel.LoginVM
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/LoginTemplate.cshtml";
}
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <h3>usted no esta autorizado para ver esta página</h3>
}
else
{
    <h2>LogIn</h2>
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                @Html.EditorFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Passowrd, new { @class = "control-label" })
                @Html.EditorFor(x => x.Passowrd, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Passowrd, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
    }
}