﻿
@{
    ViewBag.Title = "NoAutorizado";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Usted no tiene permisos para ver esa seccion.</h2>

<input type="button" value="Regresar" onclick="window.location=@ViewBag.returnUrl" class="btn btn-primary" />

