﻿@model SistemaNotificaciones.ViewModel.NuevoUsuario
@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Nuevo Usuario</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(x => x.Email, new { @class = "control-label"})
            @Html.EditorFor(x => x.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label class="control-label">Rol</label>
            @Html.DropDownListFor(x => x.RoleId, new SelectList(Model.Roles, "Id", "Name", Model.Roles.FirstOrDefault().Id.ToString()), "Seleccione un rol...", new { @class = "form-control"} )
            @Html.ValidationMessageFor(x => x.RoleId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            @Html.EditorFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
            @Html.EditorFor(x => x.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
}
@Html.ActionLink("Cancelar", "Index", "Tablero", new { @class = "btn btn-default" })

