﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>Sistema de Notificaciones</title>
    <!-- bootstrap css -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome css -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript">
        var root = "@Url.Content("~/")";
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li class="header">
                    <a href="@Url.Content("~/Tablero/Index")">
                        Sistema de Notificaciones
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Tablero/Index")">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        Tablero
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Contrato/Index")">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        Contratos
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Servicio/Index")">
                        <i class="fa fa-book" aria-hidden="true"></i>

                        Servicios
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Propiedad/Index")">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Propiedades
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/manager/Index")">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Managers
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Cobranza/Index")">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        Cobranza
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Security/Index")">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        Usuarios
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Security/SignOut")">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Cerrar Sesion
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <script src="~/scripts/jquery-2.2.3.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/moment.js"></script>
    <script src="~/scripts/Site.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
