﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginTemplate</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="login">
    <div> 
        @RenderBody()
    </div>
    <script src="~/scripts/jquery-2.2.3.js"></script>
    <script src="~/scripts/jquery-ui.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/Site.js"></script>
</body>
</html>
